
<%-include('../partials/header')%>
    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-post">
                    <img src="https://via.placeholder.com/600x400" alt="Post Image">
                    <div class="post-date">Apr. 14th, 2022</div>
                    <div class="post-title">Thought you loved Python? Wait until you meet Rust</div>
                    <div class="post-excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nobis ea quis inventore vel voluptas.</div>
                    <a href="#" class="btn btn-primary read-more">READ MORE</a>
                </div>
                <div class="blog-post">
                    <img src="https://via.placeholder.com/600x400" alt="Post Image">
                    <div class="post-date">Apr. 14th, 2022</div>
                    <div class="post-title">Startup vs corporate: What job suits you best?</div>
                    <div class="post-excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nobis ea quis inventore vel voluptas.</div>
                    <a href="#" class="btn btn-primary read-more">READ MORE</a>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Search bar -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search Blogs ...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="recent-posts text-dark p-2 h3" style="border-bottom: 1px solid black">Recent Posts</div>
                <!-- blog post -->
                <div class="blog-post">
                    <div class="post-date">Apr. 14th, 2022</div>
                    <div class="post-title">Don’t assume your user data in the cloud is safe</div>
                    <div class="post-excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nobis ea quis inventore vel voluptas.</div>
                    <a href="#" class="btn btn-link read-more">Continue Reading</a>
                </div>
                <div class="blog-post">
                    <div class="post-date">Apr. 14th, 2022</div>
                    <div class="post-title">Meta unveils fees on metaverse sales</div>
                    <div class="post-excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nobis ea quis inventore vel voluptas.</div>
                    <a href="#" class="btn btn-link read-more">Continue Reading</a>
                </div>
                <div class="blog-post">
                    <div class="post-date">Apr. 14th, 2022</div>
                    <div class="post-title">UK sees highest inflation in 30 years</div>
                    <div class="post-excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nobis ea quis inventore vel voluptas.</div>
                    <a href="#" class="btn btn-link read-more">Continue Reading</a>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- end book section -->

 <!-- footer section -->
 <%-include('../partials/footer')%>

 <!-- footer section -->

 <%-include('../partials/script')%>

  

</body>

</html>