
<%-include('../partials/header')%>
    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="text-center">
        <h2>
          Your Cart Items
        </h2>
      </div>
      <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Menu Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Restuarant Name</th>
                <th>Add to cart</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="images/f1.png" alt="Pizza" style="width: 50px;"></td>
                <td>Delicious Pizza</td>
                <td>$20.00</td>
                <td>Aminia</td>
                <td><input type="number" value="1" min="1" max="10" style="width: 40px;"></td>
                <td><button class="buy-now">Buy Now</button></td>
            </tr>
            <tr>
                <td><img src="images/f2.png" alt="Burger" style="width: 50px;"></td>
                <td>Delicious Burger</td>
                <td>$16.00</td>
                <td>arsalan</td>
                <td><input type="number" value="1"min="1" max="10" style="width: 40px;"></td>
                <td><button class="buy-now">Buy Now</button></td>
            </tr>
        </tbody>
    </table>
    </div>
  </section>
  <!-- end book section -->

 <!-- footer section -->
 <%-include('../partials/footer')%>

 <!-- footer section -->

 <%-include('../partials/script')%>

  

</body>

</html>