
<%-include('../partials/header')%>
    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="profile-card text-center">
                    <div class="profile-img">
                        <i class="fa fa-user" style="font-size: 50px;"></i>
                    </div>
                    <!-- <h5>User Name</h5> -->
                    <button class="btn btn-primary">Edit Profile</button>
                    <hr>
                    <p><strong>NAME:</strong> John Doe</p>
                    <p><strong>PHONE:</strong> (123) 456-7890</p>
                    <p><strong>EMAIL:</strong> johndoe@example.com</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info-card bg-warning text-dark">
                            <h6>Table Bookings: <span class="float-right">0</span></h6>
                            <h6>Total Orders: <span class="float-right">0</span></h6>
                            <h6>Total Cart Items: <span class="float-right">0</span></h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-card bg-danger text-white">
                            <h6>Total Spendings: <span class="float-right">$0</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- end book section -->

 <!-- footer section -->
 <%-include('../partials/footer')%>

 <!-- footer section -->

 <%-include('../partials/script')%>

  

</body>

</html>