<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin/dashboard" class="brand-link">
      <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Restaurant Owner</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block"><%=logUser.name%></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item">
                <a href="/restaurantOwner/dashboard" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Dashboard
                   
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/restaurantOwner/category" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Categories
                   
                  </p>
                </a>
              </li>
        
          <li class="nav-item">
            <a href="/restaurantOwner/menu" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Menus
               
              </p>
            </a>
          </li>

           
          <li class="nav-item">
            <a href="/restaurantOwner/review" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Reviews
               
              </p>
            </a>
          </li>

           
          <!-- <li class="nav-item">
            <a href="/restaurantOwner/booking" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
         Bookings
               
              </p>
            </a>
          </li> -->

          <li class="nav-item">
            <a href="/restaurantOwner/order" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
         Orders
               
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/restaurantOwner/blog" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
         Blogs
               
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/partner/logout" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
              Logout
               
              </p>
            </a>
          </li>
        
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>